:local .topmenu {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 80px;
  background-color: #333;
  padding: 0 30px;
  color: #fff;
}

:local .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

:local .logo img {
  width: 48px;
}

:local .logo a {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

:local .topmenu ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

:local .topmenu li {
  margin-bottom: 10px;
}

:local .topmenu a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  transition: color 0.3s ease;
}

:local .topmenu a:hover {
  color: #6b43ff;
}

:local .authenticated,
:local .unauthenticated {
  display: flex;
  align-items: center;
}

:local button {
  cursor: pointer;
}
