/* notesPage.css */

.container-wrapper {
  height: 100vh;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 5vh auto;
}

.search-wrapper {
  display: flex;
  justify-content: space-between;
}

.search-wrapper input {
  flex-grow: 1;
  margin-right: 10px;
}

.search-wrapper button {
  background-color: #6b43ff;
  color: #fff;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-wrapper button:hover {
  background-color: #5222fd;
}

.component-wrapper-notes {
  margin-top: 0;
}

/* AddNoteForm specific styles */
.add-note-form {
  margin-bottom: 30px;
}

.add-note-form form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.add-note-form input,
.add-note-form textarea {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 1rem;
}

.add-note-form button {
  width: 150px;
  align-self: flex-end;
}
