/* register.css */
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

.register-container {
  width: 440px;
  padding: 40px 32px;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #fff;
}

.register-container h2 {
  font-size: 1.6rem;
  color: #333;
  margin-bottom: 20px;
}

.register-container form label {
  color: #333;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.03rem;
  display: block;
  margin-top: 12px;
}

.register-container form input {
  color: #333;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  height: 46px;
  letter-spacing: 0.03rem;
  border: 1px solid #ccc;
  background: #f9f9f9;
  outline: none;
  border-radius: 8px;
  text-indent: 20px;
  margin-top: 6px;
  transition: all 0.3s ease;
}

.register-container form input:focus {
  border-color: #6b43ff;
}

.register-container form button {
  width: 100%;
  margin-top: 30px;
  background: #6b43ff;
  color: #fff;
  border: none;
  line-height: 50px;
  font-size: 18px;
  letter-spacing: 0.025em;
  cursor: pointer;
  font-weight: 800;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}

.register-container form button:hover {
  background: #5222fd;
}
